# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

# Flex/YACC/Bison files
*.yy.c
*.tab.c
*.tab.h

# VS Code workspace files
.vscode/.vscode/
.vscode/settings.json
CompiladorMatheus/
CompiladorWladimir/

# Miscellaneous
*.log
*.tmp
*.bak
*.md
*.py
*.pdf
*.sh

# Compiler executable
acmc
test_generic.c-
.gitignore
test_generic.asm
test_generic.ir
assembly cheap_backup.c
assembly copy_better.c
sort.*